In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsOneClassifier
from sklearn.svm import LinearSVC

In [4]:
df = pd.read_csv('/content/drive/MyDrive/CODING DOJO/CÃ³digos/Semana 7/wine_data.csv', header=None)
df.head()

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [5]:
col_names = ['Class label', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols',
'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins','Color intensity', 'Hue', 'OD280/OD315 of diluted wines','Proline']
df.columns=[col_names]
df.head()

  Class label Alcohol Malic acid  ...   Hue OD280/OD315 of diluted wines Proline
0           1   14.23       1.71  ...  1.04                         3.92    1065
1           1   13.20       1.78  ...  1.05                         3.40    1050
2           1   13.16       2.36  ...  1.03                         3.17    1185
3           1   14.37       1.95  ...  0.86                         3.45    1480
4           1   13.24       2.59  ...  1.04                         2.93     735

[5 rows x 14 columns]

In [6]:
X = df.loc[:, df.columns[(df.columns != 'Class label')]]
y = df.loc[:, 'Class label'].values

In [7]:
X_train, X_test, y_train, y_test =train_test_split(X,
                                                   y,
                                                   test_size=0.3, 
                                                   random_state=0, 
                                                   stratify=y)

In [8]:
# Estandarizar datos
scaler = StandardScaler()
# Ajustar solo al conjunto de entrenamiento
scaler.fit(X_train)
# Aplicar  transform tanto al conjunto de entrenamiento como al conjunto de prueba
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

RegresiÃ³n LogÃ­stica

In [11]:
log_reg = LogisticRegression(penalty='l1',
                        C=1.0,
                        solver='liblinear',
                        multi_class='ovr')
log_reg.fit(X_train, y_train)
print('Training accuracy:', log_reg.score(X_train, y_train))
print('Test accuracy:', log_reg.score(X_test, y_test))

Training accuracy: 1.0
Test accuracy: 1.0

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

KNN

In [33]:
clf=neighbors.KNeighborsClassifier(n_neighbors=5)

In [34]:
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [35]:
accuracy=clf.score(X_test, y_test)
accuracy

0.9814814814814815

Random Forest

In [30]:
clf2 = RandomForestClassifier(n_estimators=100,
                             bootstrap=True,
                             oob_score=True)

In [31]:
clf2.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(oob_score=True)

In [32]:
score = clf2.score(X_test, y_test)
score

1.0

OvO RegresiÃ³n Logistica

In [42]:
clf3 = OneVsOneClassifier(LinearSVC(random_state=0))
clf3.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

OneVsOneClassifier(estimator=LinearSVC(random_state=0))

In [46]:
score2 = clf3.score(X_test, y_test)
score2

1.0

Â¿QuÃ© modelo funcionÃ³ mejor?

Los modelos que mejor funcionaron fueron las regresiones logÃ­sticas (OvR y OvO) y Random Forest.

Â¿CuÃ¡les son las caracterÃ­sticas mÃ¡s importantes de tus modelos? 

Las caracterÃ­sticas a tomar en consideraciÃ³n para los modelos son el numero de clases que existe y el tiempo en el que se tardarÃ¡ el modelo. Ajustar el parÃ¡metro C para regresiÃ³n logÃ­stica resulta determinante a la hora de ajustar el modelo. 

Â¿Hay algÃºn modelo que te haya gustado mÃ¡s y por quÃ©?

Todos tienen sus caracterÃ­sticas y sirven para determinados problemas. CÃ³mo explican en el curso, hay que conocer el problema que se plantea resolver y conocer cuales son la limitaciones de cada algoritmo. Conocer los hiperparÃ¡metros que se ajustan para los modelos resulta importante para obtener los mejores resultados.